{{#each posts as |post|}}
<div class="post-main">
  <div class="post-header">
  <p class ="post-title">{{post.title}}</p> 
    <p class="post-author"> {{user.username}} on {{format_date post.timestamp}}</p>
  </div>
  <div class="post-body">
    <p class="post-text">{{post.post_content}}</p>
    <a href="/posts/{{post.id}}" class="btn btn-primary" id="view-post" >View Post</a>
  </div>
</div>
{{/each}}